body {
    background-color: rgb(50, 50, 50);
}

.custom-grey {
    background-color: #373734;
}

.custom-nav-item {
    font-size: 26px;
}

.custom-nav-head {
    font-size: 32px;
}

.custom-nav-head,
.custom-nav-item {
    color: #EBEBEB;
}

/* Media Card Styles */

.thumbnail {
    width: 300px;
}

.custom-card {
    color: #312700;
    display: flex;
    justify-content: center;
}

.custom-card,
.card-img-top {
    background-color: #D9D9D9;
}

.card-margin {
    margin: 10px;
}