body {
    background-color: rgb(50, 50, 50);
}

.custom-grey {
    background-color: #373734;
}

.custom-nav-item {
    font-size: 26px;
}

.custom-nav-head {
    font-size: 32px;
}

.custom-nav-head,
.custom-nav-item {
    color: #EBEBEB;
}

/* Media Card Styles */

.custom-card {
    color: #312700;
    display: flex;
    justify-content: center;
    text-align: center;
}

.custom-card,
.card-img-top {
    background-color: #999;
    border: 1px #999;
}

.card-margin {
    margin: 10px;
}

.footer {
    font-size: 26px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
    background-color: #151515;
    color: #9dffaa;
}